---
import { generateSpeciesLink } from "../../scripts/permalink";

interface Props {
  mdd_id: number;
  epithet: string;
}

const { mdd_id, epithet }: Props = Astro.props;

const speciesPermalink = generateSpeciesLink(mdd_id);
---

<td class="py-2 px-4 border-b text-center">
  <a
    href={speciesPermalink}
    class="underline text-blue-600 hover:text-blue-800"
    target="_blank"
    rel="noopener noreferrer"
  >
    <span class="italic">
      {epithet}
    </span>
  </a>
</td>
