---
import { isItalicText } from "../../scripts/taxon";

// Text span with _italic_ formatting awareness

interface Props {
  text: string;
}

const { text } = Astro.props as Props;

const italicizedText = isItalicText(text);
---

{
  italicizedText ? (
    // If text contains italicized parts,
    // _G. epithet_ or _word_ or _Word_, We need to split it
    // and wrap the italicized parts in <i> tags.
    <span>
      {text
        .split(/(_[^_]+_)/g)
        .map((part) =>
          /^_.*_$/.test(part) ? <i>{part.slice(1, -1)}</i> : part
        )}
    </span>
  ) : (
    // If text does not contain italicized parts,
    // just return the text as is.
    <span>{text}</span>
  )
}
