---
import Link from "../Link.astro";
import MddText from "./MddText.astro";

interface Props {
  text: string;
  isItalic?: boolean;
}

const { text, isItalic } = Astro.props as Props;
---

{
  text.split(/(http\S+)/g).map((part) =>
    part.startsWith("http") ? (
      <>
        <Link url={part.replace(/[.,!?)]*$/, "")} />
        {part.match(/[.,!?)]*$/)}
      </>
    ) : (
      <span class={isItalic ? "italic" : ""}>
        <MddText text={part} />
      </span>
    )
  )
}
