---
interface Props {
  isLiving: boolean;
  isExtinct: boolean;
  isDomesticated: boolean;
  isInTheWild: boolean;
  isMSW3: boolean;
}

const { isLiving, isExtinct, isDomesticated, isInTheWild, isMSW3 } =
  Astro.props as Props;
---

<h3 class="font-semibold text-lg md:text-xl mb-2">Species status</h3>
<div class="flex flex-wrap gap-2 mb-4">
  {
    isLiving && (
      <div class="px-3 py-1 rounded-full bg-teal-700 text-white text-sm font-semibold">
        Living
      </div>
    )
  }
  {
    isExtinct && (
      <div class="px-3 py-1 rounded-full bg-slate-700 text-white text-sm font-semibold">
        Extinct
      </div>
    )
  }
  {
    isDomesticated && (
      <div class="px-3 py-1 rounded-full bg-amber-700 text-white text-sm font-semibold">
        Domesticated
      </div>
    )
  }
  {
    isInTheWild && (
      <div class="px-3 py-1 rounded-full bg-blue-700 text-white text-sm font-semibold">
        Found in the wild
      </div>
    )
  }
  {
    isMSW3 && (
      <div class="px-3 py-1 rounded-full bg-violet-700 text-white text-sm font-semibold">
        Listed in MSW3 2005
      </div>
    )
  }
</div>
