---

---

<div id="support-notice" class="text-center text-md italic mt-8 mb-4">
  <p>
    Please send any edits, corrections, or unfilled data (including full
    citations) to <a class="underline" href="mailto:mammaldiversity@gmail.com"
      >mammaldiversity [at] gmail [dot] com</a
    >.
  </p>
</div>
