---
// Parse MDD data to a list of text with links
import MixedLink from "./MixedLink.astro";

interface Props {
  content: string;
  isItalic?: boolean;
}

const { content, isItalic } = Astro.props;

// Split content by "|"
const textData: string[] = content.includes("|")
  ? content.split("|").map((part: string) => part.trim())
  : [content];
---

{
  textData.length > 1 ? (
    textData.map((part: string) => (
      <div class="mt-2 bg-spectra-100 dark:bg-spectra-900 p-2 rounded-md">
        <MixedLink text={part} isItalic={isItalic} />
      </div>
    ))
  ) : (
    <MixedLink text={textData[0]} isItalic={isItalic} />
  )
}
