---

---

<button
  id="close-button"
  type="button"
  class="-m-2.5 rounded-md p-2.5 text-gray-700"
>
  <span class="sr-only">Close menu</span>
  <svg
    class="h-6 w-6 stroke-porsche-950 dark:stroke-porsche-50"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    aria-hidden="true"
    data-slot="icon"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"></path>
  </svg>
</button>
