---
import cntl from "cntl";

interface DownloadButton {
  text: string;
  url: string;
  isDownload: boolean;
  extendClasses?: string;
}

const { text, url, isDownload, extendClass } = Astro.props;

const buttonClasses = cntl`
    btn-xs
    btn
    btn-outline  
    ${extendClass} 
`;
---

<button class={buttonClasses}>
  {
    isDownload && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V3"
        />
      </svg>
    )
  }
  <a href={url} target="_blank" rel="noopener noreferrer">{text}</a>
</button>
