---
import cntl from "cntl";

interface InstallButtonProps {
  label: string;
  url: string;
  withIcon: boolean;
  extendClasses?: string;
}

const { label, url, withIcon, extendClass } = Astro.props;

const buttonClasses = cntl`
    btn-md
    btn
    btn-secondary 
    ${extendClass} 
`;
---

<a href={url} target="_blank" rel="noopener noreferrer">
  <button class={buttonClasses}>
    {
      withIcon && (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V3"
          />
        </svg>
      )
    }
    {label}
  </button></a
>
