---
import messageIcon from "../../assets/icons/message.svg";
import cntl from "cntl";

interface OpenTabProps {
  text: string;
  url: string;
  extendClass?: string;
}

const { text, url, extendClass } = Astro.props as OpenTabProps;

const buttonClasses = cntl`
    btn-xs
    btn
    btn-outline  
    ${extendClass} 
`;
---

<button class={buttonClasses}>
  <svg
    id="fi_9314363"
    width="16"
    viewBox="0 0 64 64"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    ><path
      stroke-width="2"
      d="m59.99121 6.96179a1.02417 1.02417 0 0 0 -1.335-.81721l-54 19.768a1.00706 1.00706 0 0 0 -.082 1.84375l16.24779 7.65413 4.70239 17.59735a1.04907 1.04907 0 0 0 .75293.71875 1.0644 1.0644 0 0 0 .9834-.33987l7.36457-8.90329 13.447 9.96435a1.00025 1.00025 0 0 0 1.57226-.58642c.01536-.33845 10.45014-46.57591 10.34666-46.89954zm-31.21 31.82092a2.18554 2.18554 0 0 0 -.23535.45118l-2.13229 9.35411-3.60406-13.48522 28.5741-21.14056zm24.042-28.373-31.2695 23.13472-13.96094-6.57714zm-24.4241 38.46334 1.7558-7.70227 2.86139 2.12036zm19.62628 3.05078-17.02051-12.61231 26.20512-28.77685z"
    ></path><path
      stroke-width="2"
      d="m5.65332 40.94141 6.26758-5.41211a1 1 0 0 0 -1.30669-1.51363l-6.26753 5.41206a1 1 0 0 0 1.30664 1.51368z"
    ></path><path
      stroke-width="2"
      d="m19.416 38.08008a.99993.99993 0 0 0 -1.41407-.05274l-13.22654 12.27588a1.00023 1.00023 0 1 0 1.36133 1.46578l13.22656-12.27584a1.00091 1.00091 0 0 0 .05272-1.41308z"
    ></path><path
      stroke-width="2"
      d="m20.9873 49.64111-2.60219 2.41553-2.85 2.64551a1.007 1.007 0 0 0 .68071 1.73289.99623.99623 0 0 0 .68061-.26707l5.45215-5.061a1.00043 1.00043 0 0 0 -1.36128-1.46586z"
    ></path><path
      stroke-width="2"
      d="m37.14063 51.31348-4.10352 4.96582a.99986.99986 0 1 0 1.541 1.27441l4.10351-4.96582a1 1 0 0 0 -1.54099-1.27441z"
    ></path></svg
  >
  <a href={url} target="_blank" rel="noopener noreferrer">{text}</a>
</button>
