---
import Link from "../Link.astro";
import Container from "./Container.astro";

interface JournalProps {
  authors: string[];
  year: number;
  title: string;
  publisher: string;
}

const { authors, year, title, publisher } = Astro.props as JournalProps;
---

<Container>
  <p>
    {
      authors.length > 1
        ? authors.slice(0, -1).join(", ") +
          ", and " +
          authors[authors.length - 1]
        : authors[0]
    }. ({year}). {title}{title.endsWith("?") ? "" : "."}
    {publisher}.
  </p>
</Container>
