---
import Link from "../Link.astro";
import Container from "./Container.astro";

interface ZenodoRecord {
  authors: string[];

  year: number;
  title: string;
  doi: string;
}

const { authors, year, title, doi } = Astro.props as ZenodoRecord;
---

<Container>
  <p>
    {authors.join(", ")}. ({year}). {title}. Zenodo. <Link url={doi} />
  </p>
</Container>
