---
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";
---

<Layout title="About MDD">
  <MainPage
    ><div class="text-center item-center mt-8 md:mt-16">
      <Title>About the Mammal Diversity Database</Title>
      <Section title="Overview">
        <p>
          The Mammal Diversity Database (MDD) is a project of the American
          Society of Mammalogists (ASM) Biodiversity Committee. The MDD is an
          updatable online database of mammal taxonomic and biodiversity
          information hosted by ASM at{" "}
          <a href="http://mammaldiversity.org/">http://mammaldiversity.org/</a>.
          The MDD aims to provide the latest information on species-level and
          higher taxonomic changes, thereby promoting more rigorous study of
          mammalian biodiversity worldwide. The initial objective has been to
          aggregate, curate, and compile new citations on species descriptions
          and taxonomic revisions into regular releases that are downloadable in
          comma-delimited format. Downstream goals include expanded hosting of
          ecological, trait, and taxonomic data. Overall, this initiative aims
          to promote the ASM’s role as a leader in high-quality research on
          mammalian biology.
        </p>
      </Section>
      <Section title="Curation team">
        <p>Coming soon...</p>
        <h3>Oversight by the ASM Biodiversity Committee</h3>
        <p>
          E. Abreu, J. Alston, T. Androski, M. Becker, C. Burgin, C.
          Calderón-Acevedo, J. Colella, E. Craig, G. D'Elia, T. Demos, J.
          Esselstyn, P.-H. Fabre, A. Feijó, A. Ferguson, J. Frey, K. Gorman, M.
          Hawkins, V. Hayssen, S. Hess, A. Hinckley, D. Huckaby, B. Kohli, T.
          Lee, S. Liphardt, S. Maher, V. Mathis, M. McDonough, S. Mech, P.
          Moehlman, A. Mychajliw, J. Nations, R. Norris, G. Oliver, C. Parker,
          B. Patterson, N. Pradhan, D. Reeder, M. E. Rodríguez-Posada, L.
          Ruedas, B. Tanis, H. Taylor, N. Upham (chair), J. Widness, J. Zijlstra
        </p>
      </Section>
    </div>
  </MainPage>
</Layout>
