---
import MainPage from "../layouts/MainPage.astro";
import FrontPage from "../layouts/FrontPage.astro";
import Hero from "../components/Home/Hero.astro";
import WhatsNew from "../components/Home/WhatsNew.astro";
import OurGoals from "../components/Home/OurGoals.astro";
import MammalDiversityStats from "../components/Home/MammalDiversityStats.astro";
import InstallApp from "../components/InstallApp/index.astro";
import CiteMdd from "../components/Home/CiteMdd.astro";
---

<FrontPage data-pagefind-ignore title="ASM Mammal Diversity Database">
  <MainPage>
    <div class="p-2">
      <Hero />
    </div>

    <div id="content" class="lg:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <WhatsNew />
      <OurGoals />
      <MammalDiversityStats />
      <InstallApp />
      <CiteMdd />
    </div>
  </MainPage>
</FrontPage>
