---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";
---

<Layout title="Resources">
  <MainPage
    ><div class="text-center item-center mt-8 md:mt-16">
      <Title>Link to Mammal Resources</Title>
      <h2>
        Below is a list of digital resources regarding the global taxonomy,
        geography, and phylogeny of mammalian species.
      </h2>
    </div>
  </MainPage>
</Layout>
