---
import Title from "../components/Title.astro";
import MainPage from "../layouts/MainPage.astro";
import Page from "../layouts/Page.astro";
import SearchComponent from "astro-pagefind/components/Search";
import "@pagefind/default-ui/css/ui.css";
const bundlePath = `${import.meta.env.BASE_URL}pagefind/`;
---

<Page title="Search Database">
  <MainPage>
    <div class="text-center item-center mt-8 md:mt-16">
      <Title>Search Database</Title>
    </div>
    <div class="items-center">
      <SearchComponent
        id="search"
        className="pagefind-ui"
        data-bundle-path={bundlePath}
        uiOptions={{ showImages: false }}
      />
    </div>
  </MainPage>
</Page>

<style is:global>
  :root {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: theme("colors.primary");
    --pagefind-ui-text: theme("colors.base-content");
    --pagefind-ui-background: theme("colors.base-100");
    --pagefind-ui-border: theme("colors.accent");
    --pagefind-ui-tag: theme("colors.primary");
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 18px;
    --pagefind-ui-font: sans-serif;
    --tw-ring-color: #679a98;
    --focus: #679a98;
    --border: #679a98;
  }
  #search .pagefind-ui__search-input,
  #search .pagefind-ui__search-clear {
    background-color: var(--pagefind-input-background);
    color: var(--pagefind-ui-text);
    border-color: theme("colors.primary");
    font-weight: normal;
  }
  #search .pagefind-ui__search-clear:focus {
    background-color: var(--pagefind-ui-primary);
    color: var(--pagefind-ui-background);
    border-color: var(--pagefind-ui-primary);
  }
  #search
    .pagefind-ui__search-input:focus
    .pagefind-ui__search-input:active
    .pagefind-ui__form:active
    .pagefind-ui__form:focus {
    color: var(--pagefind-ui-text);
    border-color: theme("colors.secondary");
    font-weight: normal;
    outline: none;
  }
  #search .pagefind-ui__search-input:hover {
    color: var(--pagefind-ui-text);
    border-color: theme("colors.secondary");
    font-weight: normal;
  }
  #search .pagefind-ui__result-title,
  #search .pagefind-ui__result-link {
    display: inline-block;
    color: var(--pagefind-ui-result-title-text);
    font-style: italic;
    font-weight: bold;
  }
  #search .pagefind-ui__button {
    background-color: theme("colors.primary");
    color: theme("colors.base-100");
    font-weight: normal;
  }
</style>

<script>
  declare const PagefindUI: any;
  window.addEventListener("DOMContentLoaded", () => {
    if (!window.location.pathname.includes("/explore")) {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        showImages: false,
      });
    }
  });
</script>
