---
import Title from "../components/Title.astro";
import MainPage from "../layouts/MainPage.astro";
import Page from "../layouts/Page.astro";
import Link from "../components/Link.astro";
import { join } from "path";

const pageFindPath = join(import.meta.env.BASE_URL, "pagefind/pagefind-ui.js");
---

<Page title="Search Database">
  <MainPage>
    <div class="text-center item-center mt-8 md:mt-16">
      <Title>Search Database</Title>
      <p class="text-md mb-4">
        Search for any information in the database. For a structured list
        grouped by taxonomic order, visit the <Link
          url="/explore"
          label="Explore Page"
          openInNewTab={false}
        />.
      </p>
    </div>
    <div id="search" class="mt-2"></div>
  </MainPage>
</Page>

<style is:global>
  :root {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: theme("colors.primary");
    --pagefind-ui-text: theme("colors.base-content");
    --pagefind-ui-background: theme("colors.primary");
    --pagefind-ui-border: theme("colors.accent");
    --pagefind-ui-tag: theme("colors.primary");
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 18px;
    --pagefind-ui-font: sans-serif;
    --pagefind-ui-scale: 1;
  }
  #search .pagefind-ui__search-input,
  #search .pagefind-ui__search-clear {
    background-color: var(--pagefind-input-background);
    color: var(--pagefind-ui-text);
    border-color: theme("colors.primary");
    font-weight: normal;
  }
  #search .pagefind-ui__search-clear:focus {
    background-color: var(--pagefind-ui-primary);
    color: var(--pagefind-ui-background);
    border-color: var(--pagefind-ui-primary);
  }
  #search
    .pagefind-ui__search-input:focus
    .pagefind-ui__search-input:active
    .pagefind-ui__form:focus
    .pagefind-ui__form:active
    .pagefind-ui__form::after
    .pagefind-ui__form::before {
    color: var(--pagefind-ui-text);
    border-color: theme("colors.primary");
    font-weight: normal;
  }
  #search .pagefind-ui__search-input:hover {
    color: var(--pagefind-ui-text);
    border-color: theme("colors.secondary");
    font-weight: normal;
  }
  #search .pagefind-ui__result-title,
  #search .pagefind-ui__result-link {
    display: inline-block;
    color: var(--pagefind-ui-result-title-text);
    font-style: italic;
    font-weight: bold;
  }
  #search .pagefind-ui__button {
    color: theme("colors.base-content");
    font-weight: normal;
  }
  #search .pagefind-ui__button:hover {
    color: theme("colors.primary");
    font-weight: normal;
  }
</style>

<script src={pageFindPath} type="text/javascript" is:inline></script>
<script>
  declare const PagefindUI: any;
  window.addEventListener("DOMContentLoaded", () => {
    if (!window.location.pathname.includes("/explore")) {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        showImages: false,
        pageSize: 15,
        showEmptyFilters: false,
      });
    }
  });
</script>
