---
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";
---

<Layout title="ASM Mammal Diversity Database">
  <MainPage
    ><div class="text-center item-center mt-8 md:mt-16">
      <h2>Search Database</h2>
    </div>
  </MainPage>
</Layout>
