---
import PageDivider from "../components/PageDivider.astro";
import Title from "../components/Title.astro";
import MainPage from "../layouts/MainPage.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Search Database">
  <MainPage>
    <div class="text-center item-center mt-8 md:mt-16">
      <Title>Search Database</Title>
    </div>
    <div class="mb-4">
      <label
        class="input input-bordered flex items-center gap-2 w-full max-w-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70"
        >
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd"></path>
        </svg>
        <input
          id="search-input"
          type="text"
          class="grow"
          placeholder="E.g., Ornithorhynchus, anatinus, platypus, etc."
        />
        <button
          id="clear-search"
          class="btn btn-sm btn-circle btn-ghost hidden"
          aria-label="Clear search"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </label>
    </div>
    <PageDivider />
  </MainPage>
</Page>
