---
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";

import { db, Taxonomy, Synonym } from "astro:db";

const taxa = await db.select().from(Taxonomy).limit(20);
const syn = await db.select().from(Synonym).limit(20);
---

<Layout title="Search Database">
  <MainPage>
    <div class="text-center item-center mt-8 md:mt-16">
      <Title>Search Database</Title>
      <input
        type="text"
        placeholder="E.g., Taeromys dominator, Peromyscus maniculatus"
        class="input input-bordered w-full max-w-xs"
      />
    </div>
    <Section title="Taxon list">
      <ul>
        {
          taxa.map((taxon) => (
            <li>
              {taxon.genus} {taxon.specificEpithet}
            </li>
          ))
        }
      </ul>
    </Section>
    <Section title="Synonyms">
      <ul>
        {syn.map((s) => <li>{s.rootName}</li>)}
      </ul>
    </Section>
  </MainPage>
</Layout>
