---
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
---

<Page title="Country Mammal Diversity">
  <MainPage>
    <PageHeader>
      <Title slot="title">Country Mammal Diversity</Title>
      <div slot="description">
        <p>
          Explore statistics on mammal diversity for each country listed in MDD,
          including counts of orders, families, genera, extant species, and
          extinct species. This list excludes widespread and domesticated
          species. Click on a country to explore its mammal diversity.
        </p>
      </div>
    </PageHeader>
  </MainPage>
</Page>
