---

---

<div id="diversity-table" class="overflow-x-auto max-w-3xl mx-auto">
  <table class="table-auto lg:min-w-full my-4">
    <thead class="bg-spectra-100 dark:bg-spectra-900">
      <tr>
        <th class="py-2 px-4 border-b rounded-tl-xl">Taxa</th>
        <th class="py-2 px-4 border-b">MSW3 2005</th>
        <th class="py-2 px-4 border-b">MDD 2018</th>
        <th class="py-2 px-4 border-b rounded-tr-xl">Current</th>
      </tr>
    </thead>
    <tbody>
      <td class="text-left px-4">Species</td>
      <tr>
        <td class="text-left py-2 px-8 border-b">Total</td>
        <td class="py-2 px-4 border-b">5,416</td>
        <td class="py-2 px-4 border-b">6,495</td>
        <td class="py-2 px-4 border-b">6,753</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-8 border-b">Recently Extinct</td>
        <td class="py-2 px-4 border-b">75</td>
        <td class="py-2 px-4 border-b">96</td>
        <td class="py-2 px-4 border-b">113</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-8 border-b">Living</td>
        <td class="py-2 px-4 border-b">5,341</td>
        <td class="py-2 px-4 border-b">6,399</td>
        <td class="py-2 px-4 border-b">6,640</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-8 border-b">Domestic</td>
        <td class="py-2 px-4 border-b">0</td>
        <td class="py-2 px-4 border-b">16</td>
        <td class="py-2 px-4 border-b">17</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-8 border-b">Living Wild</td>
        <td class="py-2 px-4 border-b">5,338</td>
        <td class="py-2 px-4 border-b">6,382</td>
        <td class="py-2 px-4 border-b">6,623</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-4 border-b">Genera</td>
        <td class="py-2 px-4 border-b">1,230</td>
        <td class="py-2 px-4 border-b">1,314</td>
        <td class="py-2 px-4 border-b">1,353</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-4 border-b">Families</td>
        <td class="py-2 px-4 border-b">153</td>
        <td class="py-2 px-4 border-b">167</td>
        <td class="py-2 px-4 border-b">167</td>
      </tr>
      <tr>
        <td class="text-left py-2 px-4 border-b">Orders</td>
        <td class="py-2 px-4 border-b">29</td>
        <td class="py-2 px-4 border-b">27</td>
        <td class="py-2 px-4 border-b">27</td>
      </tr>
    </tbody>
  </table>
</div>
