---
import cntl from "cntl";
// Get current year
const year = new Date().getFullYear();

const footerClasses = cntl`
  flex
  flex-col
  justify-center
  items-center
  space-y-2
  py-2
  bg-spicy-mix-100
  dark:bg-spicy-mix-900
  text-center
  rounded-full
  max-w-7xl
  lg:mx-auto
  mx-4
  mt-8
`;
---

<footer>
  <div class={footerClasses}>
    <p class="text-md font-serif dark:text-spectra-300 text-spectra-800">
      <a class="underline" href="https:">ASM Website</a> &middot; <a
        class="underline"
        href="https://www.mammalsociety.org/index.php/publications"
        >ASM Journals</a
      > &middot;
      <a
        class="underline"
        href="https://www.mammalsociety.org/index.php/privacy-policy"
        >Privacy Policy</a
      >
    </p>

    <p class="text-sm">&copy; {year} The MDD Team. All rights reserved.</p>
  </div>
</footer>
