---
import cntl from "cntl";
import Link from "./Link.astro";
// Get current year
const year = new Date().getFullYear();

const footerClasses = cntl`
  flex
  flex-col
  justify-center
  items-center
  space-y-2
  py-2
  bg-spicy-mix-100
  dark:bg-spicy-mix-900
  text-center
  rounded-t-2xl
  md:rounded-full
  max-w-full
  md:mx-8
  mx-4
  xl:mx-8
  mt-8
  mb-4
`;
---

<footer>
  <div class={footerClasses}>
    <p class="text-md dark:text-spectra-300 text-spectra-800">
      <Link
        label="MDD GitHub"
        url="https://github.com/mammaldiversity"
        extendClass="underline block sm:inline"
      />
      <span class="hidden sm:inline"> &middot; </span>
      <Link
        label="ASM Website"
        url="https://www.mammalsociety.org/"
        extendClass="underline block sm:inline"
      />
      <span class="hidden sm:inline"> &middot; </span>
      <Link
        label="Privacy Policy"
        url="https://www.mammalsociety.org/index.php/privacy-policy"
        extendClass="underline block sm:inline"
      />
    </p>
    <p class="text-sm">&copy; {year} The MDD Team. All rights reserved.</p>
  </div>
</footer>
