---
// Get current year
const year = new Date().getFullYear();
---

<footer>
  <div class="h-1 bg-spectra-500"></div>
  <div
    class="flex flex-col justify-center items-center h-24 space-y-2 dark:bg-spicy-mix-800 bg-spicy-mix-200 text-center"
  >
    <p class="text-md font-serif dark:text-spectra-300 text-spectra-800">
      <a class="underline" href="https:">ASM Website</a> &middot; <a
        class="underline"
        href="https://www.mammalsociety.org/index.php/publications"
        >Publications</a
      > &middot;
      <a
        class="underline"
        href="https://www.mammalsociety.org/index.php/privacy-policy"
        >Privacy Policy</a
      >
    </p>

    <p class="text-sm">&copy; {year} The MDD Team. All rights reserved.</p>
  </div>
  <div></div>
</footer>
