---
import { join } from "path";

const { title } = Astro.props;
const pageFindPath = join(import.meta.env.BASE_URL, "pagefind/pagefind-ui.css");
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="ASM Mammal Diversity Database" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link href={pageFindPath} rel="stylesheet" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-478P4PDQYE"
    is:inline></script>
  <script type="text/partytown" is:inline>
    // Declare dataLayer on the window object
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-478P4PDQYE");
  </script>
</head>
