---
import ActionButton from "./buttons/ActionButton.astro";
import Link from "./Link.astro";

interface MainActionButtons {
  searchURI: string;
  downloadURI: string;
  previousVersionsURI: string;
  versionDescription: string;
}

const { searchURI, downloadURI, previousVersionsURI, versionDescription } =
  Astro.props;
---

<div class="grid md:flex md:grid-cols-2 gap-2 mt-8 md:mt-16">
  <div>
    <ActionButton label="Download the latest version" uri={downloadURI} />
  </div>
  <div>
    <ActionButton label="Search database" uri={searchURI} isPrimary />
  </div>
</div>
<div>
  <p class="text-left text-xs mt-2">
    {versionDescription}. Previous versions are available on <Link
      url={previousVersionsURI}
      label="Zenodo"
    />.
  </p>
</div>
