---
const { versionDescription, prevVersionsLink } = Astro.props;
---

<div id="search-bar" class="relative mt-8 max-w-4xl mx-auto">
  <input
    class="rounded-full px-4 py-2 h-12 w-full text-slate-800"
    type="search"
    placeholder="Search the database"
  />
  <button class="absolute right-0 top-0 py-2 mr-2" aria-label="Search"
    ><div class="bg-spicy-mix-500 rounded-xl px-4">
      <span class="text-slate-200">Search</span>
    </div>
  </button>
  <p class="ml-4 mt-2 text-left text-sm">
    {versionDescription}. Previous versions are available on
    <a href={prevVersionsLink}>Zenodo</a>.
  </p>
</div>
