---
import cntl from "cntl";

const { title } = Astro.props;

const sectionTitleClasses = cntl`
    text-balance 
    text-lg
    sm:text-3xl
    font-semibold 
    tracking-tight 
    text-spectra-950 
    dark:text-spectra-50
    mb-4
`;
---

<section class="text-pretty text-left my-4">
  <h2 class={sectionTitleClasses}>{title}</h2>
  <slot />
</section>
