---
import cntl from "cntl";

interface Props {
  bottomPadding?: number;
}
const { bottomPadding = 16 } = Astro.props;

const pageTitleClasses = cntl`
    text-balance
    text-4xl
    lg:text-5xl
    font-semibold 
    tracking-tight 
    text-spectra-950 
    dark:text-spectra-50
    ${bottomPadding ? `mb-${bottomPadding}` : ""}
`;
---

<div class="text-center">
  <h1 class={pageTitleClasses}><slot /></h1>
</div>
