---
import cntl from "cntl";

const pageTitleClasses = cntl`
    text-balance 
    text-2xl
    sm:text-4xl
    font-semibold 
    tracking-tight 
    text-spectra-950 
    dark:text-spectra-50
    mb-8
`;

const { title } = Astro.props;
---

<div class="text-center">
  <h1 class={pageTitleClasses}><slot /></h1>
</div>
