---
import cntl from "cntl";

const pageTitleClasses = cntl`
    text-balance
    text-4xl
    lg:text-5xl
    font-semibold 
    tracking-tight 
    text-spectra-950 
    dark:text-spectra-50
    mb-16
`;
---

<div class="text-center">
  <h1 class={pageTitleClasses}><slot /></h1>
</div>
