---
import Image from "astro/components/Image.astro";
import ActionButton from "../../components/buttons/ActionButton.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import listImg from "../../assets/images/explore-cards/list.jpg";
import tableImg from "../../assets/images/explore-cards/table.jpg";
import { getCountryDiversityJson } from "../../scripts/diversity_map";

const countryDiversityStringify = getCountryDiversityJson();
---

<Page title="Explore Database">
  <MainPage>
    <PageHeader>
      <Title slot="title">Explore MDD</Title>
      <div slot="description">
        <p class="text-md mb-4">
          Discover the Mammal Diversity Database (MDD) through multiple
          interactive tools. Explore comprehensive taxonomic lists, detailed
          tables, and country-level diversity data. Use this page to navigate
          the rich taxonomy and species information curated by the MDD team.
        </p>
      </div>
    </PageHeader>
    <div class="lg:max-w-full mx-auto">
      <div
        class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center py-2 px-4 gap-4"
      >
        <div class="card card-bordered w-full">
          <figure>
            <Image
              src={listImg}
              alt="Taxon List"
              width={600}
              height={400}
              class="w-full h-auto object-cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Taxon List</h2>
            <p>
              Explore the taxonomy of species listed in the MDD, grouped by
              taxonomic order and sorted according to their phylogenetic
              hierarchy.
            </p>
            <ActionButton label="Explore List" uri="/explore/taxon-list" />
          </div>
        </div>
        <div class="card card-bordered w-full">
          <figure>
            <Image
              src={tableImg}
              alt="Taxonomy Table"
              width={600}
              height={400}
              class="w-full h-auto object-cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Taxonomy Table</h2>
            <p>
              Explore current mammalian taxonomy in an expandable table format,
              including counts of orders, families, genera, and species. This
              table is similar to the <Link
                url="http://www.classic.mammaldiversity.org/taxa.html"
                label="higher taxonomy table"
              /> in the MDD v1.
            </p>
            <ActionButton label="Explore Table" uri="/explore/taxonomy-table" />
          </div>
        </div>
      </div>
      <div class="mt-8 text-center">
        <h2 class="text-3xl font-semibold mb-4">
          Mammal Diversity by Country and Region
        </h2>
        <distribution-map data-countries={countryDiversityStringify}>
          <div id="diversity-map"></div>
        </distribution-map>
        <ActionButton label="Explore by Country" uri="/country" />
      </div>
    </div>
  </MainPage>
</Page>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  // Declare google as a global variable
  declare const google: any;
  import { jsonToCountryDiversityMap } from "../../scripts/diversity_map.ts";

  class DistributionMap extends HTMLElement {
    lastWidth: number = 0;

    connectedCallback() {
      // Read the message from the data attribute.
      const countryDiversity = this.dataset.countries;
      const countries = jsonToCountryDiversityMap(countryDiversity ?? "");

      google.charts.load("current", {
        packages: ["geochart"],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      async function drawRegionsMap() {
        var data = await google.visualization.arrayToDataTable([
          /**
           * Represents the distribution data for countries.
           * The first element is the country name.
           * The second element indicates predicted: 1 for yes, 0 for no.
           */
          ["Country", "Species Count"],
          ...Object.entries(countries).map(([country, count]) => [
            country,
            count,
          ]),
        ]);

        var options = {
          displayMode: "Regions",
          colorAxis: { colors: ["#FFEB00", "#117554"] },
          legend: "none",
        };

        var chart = new google.visualization.GeoChart(
          document.getElementById("diversity-map")
        );

        await chart.draw(data, options);
      }
    }
  }

  customElements.define("distribution-map", DistributionMap);
</script>
