---
import TaxonTable from "../../components/taxon-table/TaxonTable.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import { getTaxonTable } from "../../scripts/taxon_table.ts";

const taxonTable = getTaxonTable();
---

<Page
  title="Taxonomy Table"
  description="A table to display taxonomy information."
>
  <MainPage>
    <PageHeader>
      <Title slot="title">Taxonomy Table</Title>
      <div slot="description">
        <p>
          Explore the taxonomy of species listed in the MDD. The table is
          organized by subclass, infraclass, and order, with expandable sections
          for order, families, and genera. Orders are sorted according to the
          phylogenetic hierarchy from the Checklist of the Mammals of the World
          (2020). Click on an order, family, or genus name to expand and view
          more details.
        </p>
      </div>
    </PageHeader>
    <TaxonTable data={taxonTable} />
  </MainPage>
</Page>
