---
import cntl from "cntl";

interface Props {
  isIndexed?: boolean;
}

const { isIndexed } = Astro.props;

const mainPageClasses = cntl`
  mx-auto 
  min-h-screen
  item-center
`;
---

{
  isIndexed ? (
    <main data-pagefind-body>
      <div class={mainPageClasses}>
        <slot />
      </div>
    </main>
  ) : (
    <main>
      <div class={mainPageClasses}>
        <slot />
      </div>
    </main>
  )
}
