---

---

<div
  class="bg-spectra-100 dark:bg-spectra-900 my-4 max-h-fit lg:max-h-dvh rounded-xl overflow-y-auto"
>
  <div class="sticky top-0 bg-spectra-100 dark:bg-spectra-900 rounded-xl py-2">
    <h3 class="text-lg md:text-xl font-semibold mt-4 mx-4">Synonyms</h3>
  </div>
  <div class="flex flex-wrap justify-items-start gap-4 p-4">
    <slot />
  </div>
</div>
