---
import cntl from "cntl";

const containerClasses = cntl`
  bg-spectra-100 
  dark:bg-spectra-900 
  my-4
  max-h-[calc(100svh-60px)] 
  rounded-xl 
  overflow-y-auto
`;

const captionTextClasses = cntl`
  text-spectra-800 
  dark:text-spectra-100 
  text-sm 
  mb-4
  mx-4
`;
---

<div class={containerClasses}>
  <div class="sticky top-0 bg-spectra-100 dark:bg-spectra-900 rounded-xl py-2">
    <h2 class="text-lg md:text-xl font-semibold mt-4 mx-4">
      Names and synonyms
    </h2>
    <h3 class={captionTextClasses}>
      Present and past (if available) associated names to the species. Click on
      a name to view its details. If the list is long, scroll down to see more.
    </h3>
  </div>
  <div class="flex flex-wrap items-center justify-center gap-4 p-4">
    <slot />
  </div>
</div>
